<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254518497125-acthv7k88lvpbhn0kgo52b494jpbjmdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254518497125-acthv7k88lvpbhn0kgo52b494jpbjmdh</string>
	<key>API_KEY</key>
	<string>AIzaSyBGLRKn8EHqLFcEs5RT1DohSsWHtdcHMfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>254518497125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicapp</string>
	<key>PROJECT_ID</key>
	<string>backend-de10e</string>
	<key>STORAGE_BUCKET</key>
	<string>backend-de10e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254518497125:ios:a7449fa295e0ded70fdb8c</string>
</dict>
</plist>